
.graph-item {
  height: 8em;
  width: 8em;
  background-color: navy;
  border: ridge;
  text-align: center;
}

.graph-table {
  border-left: ridge;
  border-right: ridge;
  border-collapse: collapse;
}

.graph-image {
  height: 6em;
  width: 7.5em;
  background-color: navy;
  /*border: ridge;*/
  margin-left: auto;
  margin-right: auto;

  border-collapse: inherit;
}

.graph-title {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: navy;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.graph-view {
  height: 90em;
  width: 105em;
  border-style: ridge;
  position: relative;
  background-color: lightsteelblue;
  /*background: linear-gradient(180deg, lightsteelblue, lightsteelblue);*/
  background: repeating-radial-gradient(ellipse farthest-corner, lightsteelblue, black 5%, blue 5%, navy 10%);
  /*background: -webkit-repeating-radial-gradient(ellipse farthest-corner, red, black 5%, blue 5%, green 10%);*/

}
