
.graph-button {
  background-color: navy;
  color: #ffffff;

}

.graph-item {
  height: 9em;
  width: 9em;

  background-image: url("/graph-it/images/metal_background_of_highdefinition_picture_3_169713.jpg");
  border: double;
  text-align: center;
}

.graph-table {
  width: 100%;
  border-left: ridge;
  border-right: ridge;
  border-collapse: collapse;
  background-color: navy;
  color: #ffffff;
}

.graph-toolbar {
  border: double;
  border-collapse: collapse;
}

.graph-image {
  height: 7.0em;
  width: 8em;
  background-color: navy;
  /*border: ridge;*/
  margin-left: auto;
  margin-right: auto;
  border-collapse: inherit;
}

.graph-title {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: navy;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.graph-view {
  height: 90em;
  width: 105em;
  border-style: ridge;
  position: relative;
  background-color: lightsteelblue;
  /*background: linear-gradient(180deg, lightsteelblue, lightsteelblue);*/
  background: repeating-radial-gradient(ellipse farthest-corner, lightsteelblue, black 5%, blue 5%, navy 10%);
  /*background: -webkit-repeating-radial-gradient(ellipse farthest-corner, red, black 5%, blue 5%, green 10%);*/

}

.simple-relationship-label {
  color: navy;
  background-color: white;
}

#new-item-dialog {
  background-color: lightsteelblue;

}


.graph-relationship {
  /*background: repeating-radial-gradient(ellipse farthest-corner, lightsteelblue, black 5%, blue 5%, navy 10%);*/
}

.ui-dialog { background: #87a5be no-repeat right bottom fixed; }
/*.ui-dialog { background: #87a5be url(../Images/bg.jpg) no-repeat right bottom fixed; }*/


