<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>Graph O Matic</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="js/libs/jqueryui-editable/css/jqueryui-editable.css">
  <link rel="stylesheet" type="text/css" href="js/libs/zTree_v3/css/zTreeStyle/zTreeStyle.css">
  <link rel="stylesheet" type="text/css" href="js/libs/zTree_v3/css/awesomeStyle/awesome.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css"
        href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <!-- FROM CDN -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
  <!--<script src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>-->
  <!--<script src="//cdn.jsdelivr.net/jsrender/1.0pre35/jsrender.min.js"></script>-->

  <!-- LOCAL -->
  <script src="js/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="js/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <!--<script src="js/libs/jquery-ui-timepicker-addon/1.5.3/jquery-ui-timepicker-addon.js"></script>-->
  <script src="js/libs/jquery-mask-plugin/1.13.4/jquery.mask.min.js"></script>
  <script src="js/libs/jsRender/1.0pre35/jsrender.min.js"></script>
  <script src="js/libs/jqueryui-editable/js/jqueryui-editable.js"></script>
  <script src="js/libs/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>

  <script src="js/libs/jsPlumb/1.7.5/jquery.jsPlumb-1.7.5-min.js "></script>
  <script src="js/libs/requirejs/require.js"></script>
  <script src="js/requireConfig.js">
  </script>
  <script src="js/bootstrap.min.js">
  </script>
  <script src="js/model.js">
  </script>
  <script src="js/toolbar.js">
  </script>
</head>

<body>

<div id="new-item-dialog" class="new-graph-item">
    <form method="post" enctype="multipart/form-data" action="/graph-item/form" id="graph-item-form">
        <input type="hidden" name="new-item-creation_date" id="new-item-creation_date" >
        <input type="hidden" name="typeName"  class="new-item-type-name" >
<table>
  <thead>
    <tr>
      <th>Title</th>
      <td><input type="text" name="title" id="new-item-title" class="new-item"></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><select id="new-item-type" name="type" class="new-item"></select></td>
    </tr>
    <tr>
      <th>Categories</th>
      <!--<td><select id="new-item-category" name="category" class="new-item"></select><label class="new-category-button">+</label></td>-->
    <td>
      <div class="new-item category-selector">
        <label class="new-category-button">+</label>
      <ul id="new-item-category" class="new-item ztree"></ul>
      </div>
    </td>
    </tr>
    <tr>
      <th>Position</th>
        <td>x: <input type="text" name="position.x" id="position.x" class="new-item" value="200"><br/>
                 y: <input type="text" name="position.y" id="position.y" class="new-item" value="200" >
        </td>
    </tr>

    <tr>
      <th>Image</th>
      <td><input type="file"  id="new-item-image" name="image" class="new-item"/></td>
    </tr>
    <tr>
      <th colspan="2" style="vertical-align: middle; text-align: center;">D A T A</th>
    </tr>
    </thead>
    <tbody id="new-graph-item-properties" >
    </tbody>
  </table>
        </form>
</div>

<script type="text/template" class="new-item" id="relationship-selector-dialog-template">
<div id="relationship-selector-dialog" class="popup">
  <table>
    <tr>
      <th>Relationship</th>
      <td><select id="relationship-selector-relationship" class="new-item">
        <% _.each( rc.relationships, function( rel ){ %>

        <option value="<%- rel.id%>">
          <%- rel.name %>
        </option>

        <% }); %>
        </select>
      </td>
    </tr>
  </table>
</div>
</script>
<script type="text/template" class="graph-item" id="graph-item-template">

<div  class="graph-item" id="<%- 'graph-item:'+ rc.id %>">
  <span><button  class="graph-item-copy">[copy]</button>
  <button  id="graph-item-hide">[hide]</button></span>
  <button  id="graph-item-delete">[delete]</button></span>
  <table border="1" class="graph-table">
  <thead>
     <% if ( rc.typeName && rc.typeName != "$thing" ){ %>
    <tr>
      <th colspan="3" class="graph-title graph-item-type"><%- rc.typeName + (rc.title ? (" : "+rc.title) : "" ) %></th>
      <th colspan="1">X</th>
    </tr>
    <% } else if (rc.title) { %>
    <tr>
      <th colspan="3" class="graph-title"><%- rc.title %></th>
    </tr>
    <% }  %>

    </thead>
    <% if ( !rc.images || rc.images.length==0 ){ %>
    <tr >

    </tr>

    <% } else { %>
    <tr >
      <td>
        <img src="<%- rc.images[0].imagePath %>" class="graph-image"/>
      </td>
      <td>
        <table>
          <tr><th valign="top" align="center" class="graph-item-notes-header">Notes</th></tr>
          <tr><td>
            <textarea rows="7" class="graph-item-notes" id="<%- 'graph-item-notes:'+ rc.id %>" ><%- rc.notes  ? rc.notes : "" %></textarea>
          </td></tr>

        </table>
    </td>
    </tr>
    <% } %>

      <tr>
        <th colspan="2" align="center"  style="vertical-align: middle; text-align: center;">D A T A</th>
      </tr>
    <tbody id="graph-item-properties" >
    </tbody>

  </table>
</div>
</script>

<script type="text/template" class="category-selector" id="category-selector-template" >
  <table>
    <thead>
    <tr><td colspan="2" style="background-color: lightsteelblue;float: left">Select Category</td></tr>
    </thead>
    <tbody class="category-tree">
    <tr>
      <td class="category-tree">
        <ul class="ztree category-tree"></ul>
      </td>
    </tr>
     </tbody>
  </table>
</script>
<script type="text/template" class="category-editor" id="category-editor-template" >
  <table>
    <thead>
    <tr><td colspan="2">Category</td></tr>
    </thead>
    <tbody class="category-tree">
    <tr>
      <td>Name</td>
      <td><input id="category-name" type="text"> </td>
    </tr>
    <tr>
      <td>Parent</td>
      <td class="category-tree">
        <ul class="ztree category-tree"></ul>
      </td>
    </tr>
     </tbody>
  </table>

</script>
<h1>
  Graph O Matic
</h1>
<div id="graph-toolbar" class="graph-toolbar">
  <table  class="graph-toolbar"><tr>
    <td><button id="graph-toolbar-new-item">New . . .</button></td>
  </tr></table>
</div>

<div class="graph-view" id="graph-view">

</div>

<script>
  require(["graph-it-app"], function (app) {
    app.initialize($("#graph-view"), function(app){
      var graph = app.graphService;
      var toolbar = app.toolbar;
        console.log("Inside Init. Here I can modify the app object.");
    });
  });
</script>

</body>

</html>
